<%- include("templates/encabezado.ejs", {titulo:"Receta Enviada"})%>
<div>Los datos de la receta son: </div>

<div class="alert alert-success"><%= nombre%></div>

<div class="alert alert-success"><%= ingredientes%></div>

<div class="alert alert-success"><%= preparacion%></div>

<div class="alert alert-success"><%= tiempo%></div>

<div class="alert alert-success"><%= dificultad%></div>

<div class="alert alert-success"><%= categoria%></div>

<div class="alert alert-success"><%= url_video%></div>

<%- include("templates/pie.ejs") %>